*{
    padding:0;
    margin:0;
    box-sizing: border-box;

}
html{
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}
/* common */
.clear{
    clear:both;
}
.text-white{
    color: #fff;
}
.text-green{
    color: rgb(63, 206, 158);
}
.text-center {
    text-align:center;
}
.column {
   padding-left: 8px;
   padding-right: 8px;
   float: left;
}
.col-third {
    width:33.33333%;
    }
 .col-half {
     width: 50%;
 }   
 .col-full {
    width: 100%;
} 
.mt-8 {
    margin-top: 8px !important;
}
.mt-16 {
    margin-top: 16px !important;
}
.btn {
    background-color: #000;
    padding: 11px 13px;
    color: #fff;
    text-decoration: none;
    display: inline-block;
    margin-top: 18px;
    border: none;
    }
.btn:hover{
    background-color: #ccc;
    color: #000;
    cursor: pointer;
    }
.pull-right{
    float:right;
}    
.row{
    margin-left: -8px;
    margin-right: -8px;
}
.row::after {
    content: "";
    display: block;
    clear: both;
}
/* mainnnnnnnnnnnnnnnnnn */
#main{

}
.header{
    height :46px;
    background-color: rgb(63, 206, 158);
    width: 100%;
    position: fixed;
    top:0;
left:0;
right:0;
z-index: 1;
/* z=1 de thanh nav khong di chuyen khi cuon chuot */
}
#nav{
display: inline-block;
}
#nav , .subnav{
    list-style-type: none;
}
#nav>li{
    display: inline-block;
}
#nav li {
    position: relative;
}
#nav>li>a{
    color: white;
    text-transform: uppercase;
}
#nav>li>a>i{
    color: white;
    font-size: 10px;
}
#nav li a {
    line-height: 46px ;
    padding: 0 24px;
    text-decoration: none;
    display: block;
}
#nav li:hover .subnav{
    display: block;
    /* block manh hơn nên sẽ đè lên display none của subnav */
}
#nav >li:hover>a,
#nav .subnav li:hover{
color: cadetblue;
background-color: rgb(224, 250, 250);
}
#nav .subnav {
    display: none;
     background-color: rgb(197, 243, 239);
     position: absolute; 
     top: 100%;
     min-width: 200 px;
     /* set min with de khi thu nho trinh duyet ko bi vo */
     left:0;
     
    }

#nav .subnav a {
    color: rgb(74, 207, 163);
    line-height: 38px;
    font-size:15px;
    
}

/* rieng */
.btn {
    background-color: #4abdda;
    padding: 11px 13px;
    color: #f0e6e6;
    text-decoration: none;
    display: inline-block;
    margin-top: 18px;
    border: none;
    }
.btn:hover{
    cursor: pointer;
    }
.status{
    width: 62px;
    padding: 11px 13px;
    color: #f0e6e6;
    text-decoration: none;
    display: inline-block;
    margin-top: 0px;
    border: none;
    border-radius: 4px;
    text-align: center;
    text-transform: uppercase;
}
table {
    margin:40px 0;
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    text-align: center;
    padding: 8px;

  }
  
  tr:nth-child(odd) {
    background-color: #D6EEEE;
  }
  #slider {
    position: relative; 
   margin-top: 46px;
   /* padding-top: 50%; */
   }
#slider .ten{
     padding-top: 50px;
   }
   /* footer */
   #footer{
    background-color:rgb(63, 206, 158) ;
    margin-top: 60px;
    text-align: center;
    color: #fff;
}
#footer .section-heading{
    padding-top: 40px;
}
#footer .contact-content{
    margin-top: 40px;
    padding-bottom: 60px;
}
#footer .info{
    text-align: left;
    padding-left: 150px;
    line-height: 1.4;
}
#footer .info1 a{
  text-decoration: none;
  color: #fff;
}